.list {
    display: flex;
    flex-direction: column;
    width: 30vw;
    flex: 1;
    overflow-y: scroll;
    background-color: #FFFFFF;
    border-radius: 4px;
    margin-bottom: 60px;
}

.list-item, .list-header {
    display: inline-flex;
    padding: 10px 0 10px 20px;
}

.list-item.alter, .list-header {
    background-color: #f2f2f2;
}
